<div class="app">
  <app-core>
    <!--
      Define the global key-value mapping, with it initial values.  This global state provides
      communication between components.
    -->
    <global-state>
      <value-map>
        <!-- The collection loader finds collections at this name under
             google3/third_party/traceviz/codelab/logviz/server/logs/. -->
        <value key="collection_name">
          <string>cockroachdb_example_snapshot.txt</string>
        </value>
        <value key="dummy">
          <string>dummy initial value</string>
        </value>
        <value key="path_prefix">
          <string-list></string-list>
        </value>
      </value-map>
    </global-state>

    <!--
      A handler for Data queries issued to a connected backend via HTTP.
      Multiple components may use this to subscribe to DataSeries streams;
      these will be automatically updated as new data becomes available.
    -->
    <data-query [debounceMs]="50">
      <!--
        The set of filters to attach to DataRequests.  Each specified global
        value is provided with each DataRequest under the provided query key.
        Note that backend data series providers may ignore some global filters.
      -->
      <value-map>
        <value key="collection_name"><global-ref key="collection_name"></global-ref></value>
        <value key="path_prefix"><global-ref key="path_prefix"></global-ref></value>
      </value-map>
    </data-query>
  </app-core>

  <weighted-tree>
    <data-series>
      <query>
        <string>stacks.tree</string>
      </query>

      <interactions>
        <reaction target="data-series" type="fetch">
          <and>
            <not>
              <equals>
                <global-ref key="collection_name"></global-ref>
                <string></string>
              </equals>
            </not>
            <or>
              <changed><global-ref key="collection_name"></global-ref></changed>
              <changed><global-ref key="path_prefix"></global-ref></changed>
            </or>
          </and>
        </reaction>
      </interactions>
    </data-series>


    <interactions>
      <action target="node" type="click">
        <toggle-or-set>
          <global-ref key="dummy"></global-ref>
          <local-ref key="name"></local-ref>
        </toggle-or-set>
      </action>

      <action target="node" type="click">
        <toggle-or-set>
          <global-ref key="path_prefix"></global-ref>
          <local-ref key="path"></local-ref>
        </toggle-or-set>
      </action>
    </interactions>

  </weighted-tree>

  <!--   <mat-card class="band">
    <mat-card-title>Global State Monitor</mat-card-title>
    <global-state-monitor></global-state-monitor>
  </mat-card> -->
</div>
