.func-details-drawer {
  /*max-width: 30%;*/
  width: 500px;
}

.vars-list {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  /*margin: 0 0 0 0; !* Remove margins *!*/
}

.vars-list pre {
  /*padding: 0 0 0 0; !* Remove padding *!*/
  margin: 0; /* Remove margins */
}


/*
 * An invisible div that spans the height of the side drawer and acts as the
 * handle for resizing the drawer.
 */
.resize-handle-left {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
  z-index: 100;
}
