<mat-expansion-panel expanded style="margin-left: 5px">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Captured variables
    </mat-panel-title>
    <mat-panel-description>
      The variables captured from all stack traces featuring this frame.
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-accordion multi>
    <mat-expansion-panel expanded *ngFor="let goroutineData of (data | keyvalue)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Frame info
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Data for
            <a
              [routerLink]="['/collections', collectionID, 'snap',snapshotID]"
              [queryParams]="{filter: 'gid=' + goroutineData.key}"
            >
              goroutine {{goroutineData.key}}
            </a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-var-list [collectionID]="collectionID" [vars]="goroutineData.value"></app-var-list>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</mat-expansion-panel>
